.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(61, 60, 60, 0.6);
    z-index: 99;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(230, 228, 228);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.closeSection {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.closeSection button {
    width: 20px;
    height: 20px;
}

.closeSection button:hover {
    cursor: pointer;
}

.name {
    margin-bottom: 10px;
}

.imageSection {
    text-align: center;
}

.infoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
}

.parameter {
    font-weight: 500;
}

.phrase {
    color: rgb(53, 53, 53);
    margin-top: 20px;
}